
            h1{
                background-color:"#727171";
                padding-left: 30px;
            }

        *{
            background-color: "#00EE93";
        }

        h2{
            border:"#FF7B00";
        }
        
.header{
    background-color:"#FFFB00";
    display: flex;
    justify-content: space-between;
}

.grid{
    display: flex;
    justify-content: space-around;
}

.item{
    border: solid;
}

.menu{
    margin-right: 30px;
}

.menu a{
    margin-left: 30;
}

.item{
    position: relative;
}
